body{
    margin:0 auto;
    /* background-image: url("backG.jpg" ); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    color: black;

}
body::before{
    position: relative;
    content: "";
    inset: 0;
    opacity: 100;
    background-color: #060604;
    z-index: 1000;

    animation: body-slider 2s ease-in-out forwards;
}
@keyframes body-slider{
    90%{
        opacity: 0;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}

.hero{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    isolation: isolate;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;


}
.btn{
    display: none ;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.hero img{
    margin: 15px;
    margin-left: 10px;
    margin-right: -10px;
    padding: 10px;
    height: 60px;
    width: 60px;

}
.links{
    display: flex;
    justify-content: flex-end;
    
}
.links li{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    gap: 10px;
    font-size: default;
    font-weight: bold;
    letter-spacing: 1px;
    color:black;
}
.hero a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.Services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

hr{
    position: relative;
    top: 20px;
}

p{
    font-size: large;
    text-align: center;
}

.links li:hover{
    color: gray;
    transition: 5ms;
    transform: scale(1.1);

}

h2{
    margin:1rem;
    color: black;
}

.Experiences{
    display: flex;
    margin: 30px;
}

.about{
    font-size: 30px;
    color: black;
}

.contact{
    text-align: center;
    margin-top: 50px;
    margin: 20px;
}
input{
    display: block;
    flex: 1;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    border: none;

}
label{
    display: block;
    color: black;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 5px;
    margin-left:120px;
    text-align: left;
    
}

textarea{
    border: none;
}

img{
    position: relative;
    top: 6px;
}
.contactinformation{
    display: flex;
    justify-content: space-around;
    
}
.contactinformation p{
    display: block;
    text-align: left;
    margin: 30px;
}

h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;

}


@media (max-width: 768px) {

    .hero{
        display: "";
        justify-content: center;
        position: fixed;
    
    }
s
    .hero img{
        width: 70px;
        height: 70px;
    }

    .links {
        display: none;
        flex-direction: column;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        z-index: 9999;
        width: 100%;
        background:white;
        position: absolute;
        top: 80%;
        font: 200px;
        
    }

    .links li{
        color: black;
        letter-spacing: 1px;
        background-color: transparent;

    }
    .links li:hover{
        color: black;

    }

    .links.active {
        display: flex;

    }
   
    .btn{
        display:flex;
        border: none;
        background-color: white;
        font-size: 20px;
        border-radius: 5px;

    }


    .btn:hover{
        transform: scale(1.2);
        transition: 1s;
        color: white;
        background-color: transparent;
    }

    .Services{
        display:block;
        margin: 25px;
        width: 100%;
        color: black;
        font-size: 20px;
        text-align: center;
        justify-content: center;


    }

    .webD{
        padding: 10px;
        background: white;
        border-radius: 10px;
        display: inline-block;
        margin: 10px;


    }

    .expi{
        margin: 10px;
        padding: 10px;
        background: black;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        display: block;
    }
    
    .Experiences{
            color: white;
            display:block;
            width: 100%;
            margin: 25px;
            font-size: 20px;
            text-align: center;
            justify-content: center;
      
        }

    h2{
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
    }

    hr{
        display: none;

    }

    label{
            display: block;
            text-align: left;
            margin-left:45px;
    }
    .contactinformation{
        display: block;
        justify-content: space-around;
        margin: 50px ;
   }

   h4{
    text-align: center;
   }

   .about{
    margin: 20px;
   }

   .btnlogo{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center;

   }

  /* //end of mobile viewport */
}


.social_links{
    display: flex;
    list-style: none;
}

.social_links li{
    margin:20px;
}

.social_links img{
    width: 35px;
}
.header_about{
    max-width: var(--max-width);
    margin-top: 120px;
    padding: 1rem 1rem;

}

.social_links img:hover{
    transform: scale(1.3);
    transition: 50ms;
    color: white;
}


.button_btn button{
    justify-content: center;
    position: relative;
    top: 20px;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: black;
    margin-bottom: 1.5rem;
    outline: none;

}

.button_btn :hover{
    color: gray;
    transition: 5ms;
}

.arrow{
    background-color: transparent;
    position: relative;
    top: 5px;
  
}


.header_about h1{
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 0 1rem;
    flex-wrap: wrap;
    font-weight: 700;
    color: var(--white);
    font-family: "roboto Slab", sans-serif;
    color:black ;
}

.header_about h1 span:nth-child(1){
    font-size: 6rem;
    line-height: 6rem;

}
.header_about h1 span:nth-child(2){
    font-size: 3rem;
    position: relative;
    bottom: 5px;

}
.header_about p{
    max-width: calc((var(--max-width)) / 2);
    line-height: 1.75rem;
    font-size: 1.2rem;
    color: black;
}
